.TableFilms{
  margin: 50px 5%;
  width: 90%;
}

.LogoImg{
  margin-top: 30px;
  width: 300px;

}

.Films-header{
  text-align: center;
}

.Pager {width: 300px; margin: 20px auto;}
.Pager .btn {margin: 15px; padding: 10px 30px;}

div.loadingspin {margin: 90px 30px; text-align: center; font-size: 38px;}

